.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: white;
  }
  .header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
  }
  .header nav a:hover {
    color: orange;
  }
  